[package]
name = "tc-shared"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
bincode.workspace = true
rand.workspace = true
anyhow.workspace = true
thiserror.workspace = true
tokio.workspace = true
